*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-family: monospace;
}


.clearfix::after, .clearfix::before {
    clear: both;
    content: "";
    display: table;
  }